.coverPictureInDescription{
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.ProfilePicture{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    text-align: center;
    margin: 10px auto;
    position: absolute;
    bottom: -50px;
    left: calc(50% - 45px);
    border: 2px solid white;
    object-fit: cover;
}

.profileImageAndName{
    margin-bottom: 35px;
    position: relative;
}

.Description{
    text-align: center;
    margin: 20px auto;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 20px;
    transition: 0.2s ease-in;
    width: 90%;
}
.Name{
    font-size: 17px;
    font-weight: 700;
}

.personAddIconInDescription{
    background-color: #e9ffff;
    color: #1976d2;
    padding: 1px;
    right:-31px ;
    cursor: pointer;
}

.countBoxWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.countBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid grey;
    flex:1
}
.lastBox{
    border:none;
}
.seeMoreLink{
    text-decoration: none;
    color:#1976d2;
    /* #41d662 */
}

.DescriptionProfile{
    width: 94%;
}
.coverPictureInDescriptionProfile{
    height:228px !important ;
}
.ProfilePictureInProfilePage{
    height: 122px !important;
    width: 122px !important;
    left: calc(50% - 61px) !important;
    border: 4px solid white !important;
}
.profileImageAndNameInProfilePage{
    margin-bottom: 44px;
}

/* Profile Page Icons */

.iconsInProfilePage{
    position: absolute;
    background-color:#f2f2f2;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    bottom: -27px;
    right:calc(50% - 56px);
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}
.editIconInProfilePageBackground{
    background-color:#f2f2f2;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}
.editIconInProfilePage{
    font-size: 0.95rem !important;
    color:#1976d2;
}
.coverImageInProfilePagePosition{
    bottom:3%;
    right: 1.1%;
}

.uploadImageIcon{
    font-size: 1rem;
    color:#1976d2;
}

.removeIconInProfilePage{
    color: red;
    bottom: 23%;
    right: 40.5%;
}

.removeIconInProfilePageForCover{
    color:red;
    bottom: 3%;
    right: 7.2%;
}
.DoneIconInProfilePage{
    color:lightgreen;
}