.savedRecipeContainer{
    height: 533px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    padding:20px 20px !important;
    overflow-y: auto;
}

.friendsContainer{
    width:90% !important;
    height:415px !important;
}
.friendNameInFriendSuggestion{
    font-weight: 500;
    text-decoration: none !important;
    color:black;
}
.friendImageInFriendSuggestion{
    height: 131px !important;
}
.loadingInFriendsSuggestion{
    height: 320px;
}


.savedRecipeCardImage{
    height: 140px;
    width: 100%;
    object-fit: cover !important;
    border-radius: 7px;
}

.savedRecipeNameBackground{
    border-radius: 7px;
    top:0;
    left:12px;
    right: 12px;
    bottom: 0;
    background-color: black;
    opacity: 0.4;
    cursor: pointer;
}
.savedRecipeName{
    border-radius: 7px;
    color:white;
    top:0;
    left:17px;
    right: 8px;
    bottom: 0;
    z-index: 300;
    cursor: pointer;
}